*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }



li {
    display:flex inline;
     list-style: none;
     padding: 10px;
 }
 nav{
     float:none;
 }
 a {text-decoration: none;
 
 }
 li > a{
   
    padding: 15px 15px;
    color: rgb(6, 4, 8);
    display: block;
    position: relative;
    background-color: rgba(92, 168, 191, 0.374);
    
}
li >a:hover { 
    color: rgb(136, 0, 255);
    transition: all.3s; 
}
